<footer class="footer">
        <div class="container">

                <p class="text-white text-center padding-top-20px">
                    <a href="/contact"><span class="text-white-footer">Contact </span></a>
                     |
                    <a href="/about"><span class="text-white-footer"> About</span></a>
                </p>
        </div>
        <div align="center">
            <span class="text-white">Copyright 2016 <i class="fa fa-copyright"></i> Integer AS - All rights reserved</span>
        </div>
</footer>