<nav class="navbar navbar-default" role="navigation">
  <div class="container container-header">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img class="logo" src="/logo-white-blueBackground.jpg" alt="logo Understandly"></a>
    </div>
    <div id="navbar-collapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/features"><span class="text-white">Features</span></a></li>
        <li><a href="/pricing"><span class="text-white">Pricing</span></a></li>
        <li class="hidden"><a href="#"><span class="text-white">Resources</span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="{{currentRoute 'login'}}"><a href="https://app.understandly.com/login"><span class="text-white">Login</span></a></li>
        <li class="{{currentRoute 'signup'}}"><a href="https://app.understandly.com/signup"><span class="text-white">Sign up</span></a></li>
      </ul>
    </div>
  </div>
</nav>
