<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container-fluid">
      <div class="row page-container">
        <div class="col-sm-6 col-sm-offset-2">
          <h1 class="text-white">The business content translation tool. Connect your own translators or buy professional translations</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 padding-top-40px padding-bottom-40px">
          <h2 align="center">Doing business in multiple languages can be chatic.<br>
          Understandly makes it easy.
          </h2>
        </div>
      </div>
      <div align="center" class="row container-how-it-works">
        <div class="col-sm-12">
          <h2 class="text-white">How it works</h2>
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
