<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container-fluid">
      <div class="row page-container">
        <div class="col-sm-6 col-sm-offset-2 padding-top-40px padding-bottom-40px">
          <h1 class="text-white">The business content translation tool. Buy professional human translations or connect your own translators.
          <br><button type="button" class="btn btn-lg margin-top-40px btn-success btn-wide">Sign up free</button>
          </h1>
        </div>
      </div>
      <div class="row">
          <div class="container">
            <div class="col-sm-12 padding-top-50px padding-bottom-50px">
              <h2 align="center">Doing business in multiple languages can be chaotic.<br>
              Understandly makes it easy.
              </h2>
                <div class="col-sm-10 col-sm-offset-1">
                    <h4 align="center">
                        Our tool was created specifically to help your business
                        translate marketing, sales and advertising content.
                        Buy professional human translations or connect your own translators.
                        All your translated content organized and accessible in one place.
                    </h4>
                </div>
            </div>
          </div>
      </div>
        <div class="row container-how-it-works text-white">
           <div class="container">
              <div class="col-sm-12">
                <h2 align="center" class="text-white">How it works</h2>
              </div>
              <div class="col-sm-12 padding-top-40px">
                <div class="row">
                  <div class="service-box text-center">
                    <div class="col-sm-4">
                      <i class="fa fa-camera fa-5x"></i>
                      <h3>Request</h3>
                      <p>An input text can be translated into multiple languages. Your translators will be notified automatically.</p>
                    </div>
                  </div>
                  <div class="service-box text-center">
                    <div class="col-sm-4">
                      <i class="fa fa-camera fa-5x"></i>
                      <h3>Collaborate</h3>
                      <p>An input text can be translated into multiple languages. Your translators will be notified automatically.</p>
                    </div>
                  </div>
                  <div class="service-box text-center">
                    <div class="col-sm-4">
                      <i class="fa fa-camera fa-5x"></i>
                      <h3>Accessible & Organized</h3>
                      <p>An input text can be translated into multiple languages. Your translators will be notified automatically.</p>
                    </div>
                  </div>
                </div>
              </div>
            <div align="center" class="col-sm-12">
                <button type="button" class="btn btn-lg margin-top-40px btn-success btn-wide">Sign up free</button>
            </div>
            </div>
        </div>
    </div>

    {% include footer.html %}

  </body>

</html>
